/* stuff to copy later
  http://codepen.io/noahblon/pen/vJqnL
  http://codepen.io/dylanbaumann/pen/Hxbya
  http://codepen.io/juliangarnier/pen/idhuG
  http://codepen.io/Hornebom/pen/clDsr */


body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('hd-space-wallpaper.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.universe{
  height: 100%;
  width: 100%;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid;
  border-radius:10px;
  -webkit-transform: translate(-50%, -50%);
  position:absolute;
}
.lumosity{
  background: rgba(255,255,255,1);
  box-shadow:0 2px 10px rgba(255,255,255,0.8),
             0 5px 50px rgba(255,255,255,0.8),
             0 8px 80px rgba(255,255,255,0.6),
             0 8px 120px rgba(255,255,255,0.6);
}

.red{
  border-color: #FC0313;
}
.orange{
  border-color: #E08216;
}
.yellow{
  border-color: #FFFB21;
}
.planet{
  border-color: #965D2C;
}
.star{
  border-color: #F7F7D5;
}
.white{
  border-color: #FAFAF5;
}

.small{
  border-width: 5px;
  border-radius: 5px;
}
.medium{
  border-width: 15px;
  border-radius: 15px;
}
.large{
  border-width: 25px;
  border-radius: 25px;
}
.giant{
  border-width: 100px;
  border-radius: 100px;
}
